

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website With Login & Registration</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/about.css">
</head>

<body>      
    <section class="hero-section">
        <div class="content">
            <h1>About Us </h1>
            <p>
                - We are a team of seven members that created the program called Step Calculation.
                The program we built had the sole purpose of creating better calculation, awareness, and routine behavior tracking for our users.
                When our users use our program to utilize and track their progress in exercising and managing their health, they are also trying to achieve the goal of keeping their lives healthy.
                Because the only goal of our team is to keep everyone healthy and happy.
            </p>
            <a href="https://en.wikipedia.org/wiki/Drake_(musician)" class="button-link">
                <button>Learn More</button>
            </a>
        </div>
    </section>
</body>
<script src="/static/script.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{% endblock %}
